/* Basic Styles */
.navigation {
    background-color: blueviolet;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo-link {
    display: block;
}

.logo-image {
    width: 250px;
    height: auto;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.menu-toggle.active {
    background-color: blueviolet; /* Optional: change the background color when active */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        background-color: blueviolet;
        position: absolute;
        top: 4rem; /* Adjust as needed */
        left: 0;
        right: 0;
        padding-left: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
